/* You can add global styles to this file, and also import other style files */
:root{
  --primary: rgb(250 110 176);
  --secondary: rgb(255, 207, 97);
  --white: rgb(227, 227, 227);
  --black: rgb(6, 6, 6);
}
